<!-- IDEA QUE MUESTRE LOS EVENTOS MAS CERCANOS A 7 DIAS Y CON MAS USUARIOS UNIDOS -->
<!-- <section class="container my-5">
    <h2 class="text-center">Eventos Destacados</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
            </div>
        </div>
    </div>
</section> -->

<!-- Búsqueda y Filtros -->
<section class="container my-5">
    <h2 class="text-center">Encuentra un Evento</h2>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <!-- Campos de búsqueda y opciones de filtro -->
            <input type="text" class="form-control mb-2" placeholder="Buscar eventos por nombre, ubicación, etc.">
            <!-- Opciones de filtro (ubicación, fecha, categoría, etc.) -->
            <button class="btn btn-primary btn-block">Buscar</button>
        </div>
    </div>
</section>

<!-- Sección de Categorías o Tags -->
<section class="container my-5">
    <h2 class="text-center">Categorías Populares</h2>
    <div class="row center">
        <div class="col-md-4">
            <a href="#" class="btn btn-outline-primary btn-block mb-2">Música</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-outline-primary btn-block mb-2">Arte y Cultura</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-outline-primary btn-block mb-2">Arte y Cultura</a>
        </div>
        <!-- Agrega más categorías -->
    </div>
</section>